body {
  display: flex;
  justify-content: center;
}

.fizz-buzz-box {
  width: 100%;
  height: 70vh;
  display: flex;
  gap: 2rem;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  background-color: aquamarine;
  border: 5px solid rebeccapurple;
}

/* .buttons-box {
  width: 100%;
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
} */

button {
  /* width: 70%; */
  padding: 1rem 2rem;
  font-size: 4rem;
  border-radius: 1rem;
  border: 1px solid grey;
  background-color: rgb(227, 180, 24);
}

p {
  font-size: 5rem;
}

button:hover {
  background-color: rgb(142, 111, 11);
}
