.fizz-buzz-box {
  margin: 1rem auto;
  width: 80%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aquamarine;
  border: 5px solid rebeccapurple;
}

button {
  padding: 1rem 2rem;
  font-size: 4rem;
  border-radius: 1rem;
  border: 1px solid grey;
  background-color: rgb(227, 180, 24);
}

.message {
  font-size: 5rem;
  width: 40%;
  text-align: center;
}

button:hover {
  background-color: rgb(142, 111, 11);
}
